<div class="game">
    <div class="game-img">
        <img src="{{image}}">
    </div>
    <div class="game-info">
        <h1>The Witcher 3</h1>
        <p><span>Platform: {{platform}}</span>PC</p>
        <p><span>Genre: {{genre}}</span>RPG</p>
        <p><span>Price: {{price}}</span>$23</p>
    </div>

    <a href="/catalog/{{_id}}" class="btn-details">Details</a>
</div>